<div class="row" style="height: 50px"></div>


<div class="row">
	<% @products.each do |product| %>
	<% if product.image %>
	<div class="col-md-4">
		<div class="ui card">
			<div class="image">
				<%= image_tag product.image %>
			</div>
			<div class="content">
				<a class="header"><%= link_to product.name, product_path(id: product.id) %></a>
				<div class="meta">
					<span class="date"><%= product.price %></span>
				</div>
				<div class="description">
					<%= product.description %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	<% end %>
</div>


	<div class="row" style="height: 100px"></div>
	<div class="row">
		<%= link_to t('.new', :default => t("helpers.links.new")),
		new_product_path,
		:class => 'btn btn-primary' %>

	</div>